

body {
    font-family: "Staffee-Regular";
    user-select: none;
}

div {
    background-color: #f9f9f9;
}

.sign_container {
    background-color: #ffffff;
    font-family: "Staffee-Regular";
    border-width: 5px;
    border-style: solid;
    border-color: #DADDE2;
    border-radius: 15px;
    box-shadow: rgba(218, 221, 226) 0px 5px 15px;
    width: 380px;
    margin: 0 auto;
    /* margin-top: 200px; */
    /* position: relative; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    /* z-index: 1000; */
    /* Ensure menu item is above overlay */
    /* padding: 20px; */
    /* overflow: hidden; */
}

/* #SignUpHolder { */
    /* padding-top: 500px; */
/* } */

.sign_container > table {
    margin: 0 auto;
}

#signIn_td,
#signUp_td {
    font-family: Staffee-Bold;
    text-align: left;
    margin-top: 0px;
    width: 92px;
    height: 37px;
}

.box_input {
    /* background-color: #9a3cf1; */
    /* color: #ffffff; */
    border-radius: 5px;
    border-width: 0;
    width: 200px;
    height: 30px;
    margin-right: 5px;
}

/* GOT ERROR */
/* .box_input:select {
    border-color: #DADDE2;
} */

.usernameIcon,
.mailIcon,
.passwordIcon,
.cakeIcon, 
.genderIcon, 
.locationIcon {
    width: 18px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}
#username,
#emailAdd,
#password,
#passReenter,
#usernameEmail {
    /* Placeholder text */
    padding-left: 10px;
}

.input_div {
    background-color: #b371f2;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    text-align: left;
}

#forgotPassword_td,
#agreement_td,
#codeVerification_td {
    font-family: Staffee-Bold;
    font-size: smaller;
    text-align: left;
    user-select: text;
    padding-top: 4px;
}

td > a {
    color: #551a8b;
}

#signInBtn_td,
#signUpBtn_td,

#backBtn_td {
    padding-bottom: 15px;
}

.signIn_btn,
.signUp_btn,
.next_btn {
    background-color: #775466;
    color: #ffffff; 
    font-family: Staffee-Bold;
    font-size: medium;
    border-radius: 30px;
    border-width: 0;
    width: 293px;
    height: 40px;
    margin-top: 15px;
    padding-bottom: 6px;
    cursor: pointer;
}
.signIn_btn:hover,
.signUp_btn:hover {
    background-color: #DADDE2;
    color: #775466;
    font-family: Staffee-Bold;
    font-size: medium;
    border-radius: 30px;
    border-width: 0;
    width: 293px;
    height: 40px;
    margin-top: 15px;
    padding-bottom: 6px;
    cursor: pointer;
    transition-delay: 0.25s;
}

.back_btn {
    background-color: #ffffff;
    /* color: #775466; */
    font-family: Staffee-Bold;
    font-size: medium;
    border-radius: 30px;
    border-width: 0;
    width: 293px;
    height: 40px;
    margin-top: 15px;
    padding-bottom: 6px;
    cursor: pointer;
}

#joinUsNow,
#alreadySignedUp {
    font-family: Staffee-Bold;
    padding-top: 2px;
    user-select: text;
}

