body {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*header style*/
#header {
    background: #433533;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    color: #fff;
    text-align:center;
}

.headerContainer .logo {
    font-weight:500;
    text-decoration: none;
    color:#fff;
    letter-spacing:-1px;
}

.headerContainer .logo:hover {
    transition: all .2s;
    text-shadow: #ffd05e 0px 2px 2px;
    transform: scale(0.5,0.5) translate3d(2px);
}

#container {
    display: flex;
    padding-top: 30px;
}

/*sidebar style*/
#sideBarContainer {
    position:fixed;
    left: 0;
    background-color: transparent;
}

#sideBar {
    margin-top:1.3%;
    position:fixed;
    background-color: #000000ab;
    border-right:1px solid #000;
    box-shadow: 0px 0px 5px #000;
    min-height: 1000px;
    z-index:500;
    padding-top: 10px;
}

.SideBarMenu {
    width: 200px;
    height: 100%;
    display: block;
    padding: 10px 0px 10px 15px;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.SideBarMenu:hover {
    background-color: #fff;
    color: #000;
}

#content {
    min-height:1000px;
    margin-left:12%;
    margin-top:1%;
    margin-right:20px;
}

/*footer style*/
.footerBottom {
    padding: 5px;
    text-align: center;
}
