/*slideshow style*/
.sliderContainer {
    position: relative;
    margin: 0;
}

.sliderContainer img {
    width:100%;
    filter: brightness(50%);
}

.navButton {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px 10px 20px 10px;
    margin-top: -22px;
    color: white;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.prev:hover, .next:hover {
    background-color: #fff;
    color: #585858;
}

#slideText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 50%;
    font-weight: 400;
    letter-spacing: 3px;
}

#SlideBtn {
    cursor:pointer;
}

.slideBtn {
    border: none;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor:pointer;
}

.slideBtn:hover {
    background-color: transparent;
    color: #fff;
    transition: 0.5s;
    border:1px solid white;
}

/*about us style*/
#about {
    margin: 60px 100px 30px 100px;
    color: #766958;
    display: flex;
    letter-spacing: -0.5px;
}

.leftContent img {
    width: 80%;
    border-radius: 10px;
}

#about .rightContent h1 {
    color: #373737;
}

#about .rightContent h2 {
    color: #a78053;
}

.rightContent {
    width:60%;
}

.rightContent p {
    font-size: 17px;
}

/*Category style*/
#categoryItem {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

#categoryItem > div {
    border: 1px solid #ddd; 
    margin-left:30px;
    margin-bottom:30px;
    justify-content: flex-start;
    display: flex;
    padding: 15px;
    box-shadow: 0 2px 4px #3e3e3e; 
    background-color: #1d1d1d; 
    box-sizing: border-box; 
    font-size: 1rem;
    letter-spacing: -0.5px;
    width:30%;
    border-radius:10px;
}

.categoryImage {
    width: 130px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
    border: 3px solid #ffce46;
}

.categoryContent h3 {
    font-size: 1.3rem;
    font-weight:500;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    color:#fff;
}

.orderNowButton {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #433533;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition-duration: 0.4s;
}

.orderNowButton:hover {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.categoryTitle {
    margin-bottom: 28px;
    position: relative;
    color: #a78053;
    text-align: center;
    letter-spacing:-0.5px;
}

.categoryTitle::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #a78053;
    height: 3px;
    box-sizing: border-box;
    width: 250px;
    text-align: center;
}
