#pills-reviews {
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

h3 {
    font-size: 40px;
    margin-top:-10px;
}

p {
    font-size: 20px;
}

#rateContainer {
    height: auto;
    margin: 100px 200px 200px 200px;
}

.form-control.fixed-height {
    height: 200px;
    resize: none;
}

.btnCont {
    border-radius: 8px;
    padding: 10px 100px;
    color: white;
    background-color: #413432;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

    .btnCont:hover {
        background-color: transparent;
        border: 1px solid #413432;
        color: #413432;
        cursor: pointer;
    }