/* Container for the whole menu */
#menuContainer {
    display: flex;
    flex-direction: column;
}

#categoryContainer {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
}

.categorylink {
    text-decoration: none; 
    color: #333; 
    padding: 10px 15px; 
    background-color: #433533; 
    border: 1px solid #ddd;
    border-radius: 5px; 
    display: inline-block;
}

.categoryLink:hover {
    background-color: #e0e0e0; 
    color: #000; 
}

/* Product items container styling */
#productItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
    padding: 10px;
    overflow-y: auto; 
    height: calc(100vh - 60px); 
}

#productItem > div {
    border: 1px solid #ddd; 
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    box-sizing: border-box; 
    font-size: 1rem;
    letter-spacing: -0.5px;
}

#productItem div:last-child {
    font-size: 1rem;
    color: #812910; 
}

#productItem::-webkit-scrollbar {
    display: none; 
}
