#menuContainer {
    display: flex;
    flex-direction: column;
}

/*Category Style*/
#categoryContainer {
    margin-top:80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b9b9b9;
}

.categoryLink {
    border: 2px solid transparent; 
    padding: 10px;
    margin: 5px;
    color: #433533;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: border-color 0.3s;
}

.categoryLink:hover {
    border-color: #000; 
    border-radius:10px;
}

#productContainer {
    position:relative;
}

/*Product Style*/
#productItem {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 60px);
    z-index: 0;
}

#productItem > div {
    border: 1px solid #ddd; 
    border-radius:20px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-image: url("/img/bg_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box; 
    letter-spacing: -1px;
    color:#fff;
}

#productItem::-webkit-scrollbar {
    display: none; 
}

.productImage {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    border: 1px solid #ffce46;
    margin: 10px 0px 10px 10px
}

.lnkSelect {
    margin-left:20%;
}

#productContainer a {
    display: inline-block;
    width:50%;
    text-align:center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #433533;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition-duration: 0.4s;
}

#productContainer a:hover {
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.btnReset {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #433533;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition-duration: 0.4s;
}

.btnReset:hover {
    border: 2px solid #413432;
    color: #433533;
    background-color: #f0f0f0;
    font-weight:500;
}

.btnAdd {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #413432;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition-duration: 0.4s;
}

.btnAdd:hover {
    border: 2px solid #413432;
    color: #413432;
    background-color:transparent;
    font-weight:500;
}


/* Order Form Style */
.orderform {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #000;
    background-color: #fff;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 85%;
    color: #000;
    letter-spacing: 0.5px;
}

.orderform td {
    padding-bottom:10px;
}

/*CLose button style*/
.btnClose {
    border: none;
    color: #c12727;
    cursor: pointer;
    font-size: 20px;
    background:none;
}

.btnClose:hover {
    border: 1px solid #a9a9a9;
    border-radius:5px;
}

.productImg {
    padding:5px 20px 5px 5px;
}

.label {
    padding-left: 10px;
}


.label {
    font-size: 15px;
}

.ddlOrder {
    font-size:15px;
    width: 200px;
    height: 30px;
}