#menuContainer {
    display: flex;
    flex-direction: column;
}

/*Category Style*/
#categoryContainer {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b9b9b9;
}

.categoryLink {
    border: 2px solid transparent; 
    padding: 10px;
    margin: 5px;
    color: #433533;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: border-color 0.3s;
}

.categoryLink:hover {
    border-color: #000; 
    border-radius:10px;
}

#productContainer {
    position:relative;
}

/*Product Style*/
#productItem {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 60px);
    z-index: 0;
}

#productItem > div {
    border: 1px solid #ddd; 
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    box-sizing: border-box; 
    font-size: 1rem;
    letter-spacing: -0.5px;
}

#productItem::-webkit-scrollbar {
    display: none; 
}

/*
.SelectBtn {
    border: 3px solid transparent;
    padding: 10px;
    background-color: #433533;
    margin: 5px;
    color: #433533;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: border-color 0.3s;
}

.SelectBtn:hover {
    border-color: #ffc74c; 
}
*/

#productContainer a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    color: #433533;
    font-weight: 400;
    letter-spacing: 0.5px;
    transition-duration: 0.4s;
}

#productContainer a:hover{
    background-color: #413432;
    color: white;
}

/* Order Form Style */
.orderform {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #000000f2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    height: 70%;
    color: #fff;
    letter-spacing: 0.5px;
}

.orderform td {
    padding-bottom:10px;
}

.orderform label {
    margin-bottom: 5px;
 
}

.rblIngredient input[type="radio"] {
    display:flex;
    margin-right: 100px;
}

.rblIngredient label {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#btnClose {
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
