﻿#poster {
    width: 100%;
    object-fit: cover;
    position: relative;
}

#container {
    position: absolute;
    width: 90%;
    height: fit-content;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tableContainer {
    height: 100%;
    width: 100%;
    color: black;
}

.tableElement {
    text-align: center;
}

.tableElement div {
    background-color: #ffffff;
    height: 70%;
    text-align: center;
    border-radius: 8px;
    box-sizing:border-box;
    border:1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftElement {
    width:25%;
    text-align:right;
}

.rightElement {
    width:75%;
    text-align:left;
}

.btnLocation {
    border-radius: 8px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #433533;
}

.btnLocation:hover {
    background-color: #413432;
    color: white;
    cursor: pointer;
}

.btnClose {
    border-radius: 8px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #433533;
}

.btnClose:hover {
    background-color: #413432;
    color: white;
    cursor: pointer;
}

.btnCont {
    border-radius: 8px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #433533;
    background-color: #f0f0f0;
}

.btnCont:hover {
    background-color: #413432;
    color: white;
    cursor: pointer;
}

#popupDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

#popupDialog2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 20px;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.overlay {
    position: relative;
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.textAdd {
    background-color: #cccccc;
    border: 2px solid transparent;
    height: 30px;
    padding-left: 20px;
    vertical-align: middle;
    border-radius: 8px;
    transition: 0.5s;
}

.textAdd:focus {
    border: 2px solid black;
    box-shadow: none;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

.storeList a {
    display: block;
    width: 100%;
    color: black;
}

.storeList {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.8s;
    background-color: #f0f0f0;
    color: #433533;
}

.storeList:hover{
    background-color: #413432;
}

.storeList:hover a{
    color: white;
}

.storeList:hover .storeName{
    border: solid 2px white;
}

.storeList .storeName{
    border: solid 2px black;
    border-radius:8px;
}