#cartContainer {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#scrollableCart {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: calc(100vh - 60px);
    z-index: 0;
}

#cartItemTable, #cartTotalTable, #customerTable, #orderTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#cartItemTable th, .tableItem, .amtTable{
    padding: 10px; 
    border: 1px solid #ddd; 
}

.amtTable td{
    padding: 10px;
}

#cartItemTable tr:nth-child(even){
    background-color: #f9f9f9; 
}

#cartItemTable tr:nth-child(odd), #cartTotalTable tr td{
    background-color: #fff; 
}

#cartItemTable tr:hover, #cartTotalTable tr:hover{
    background-color: #e2e2e2; 
}

#excludeTable tr:nth-child(odd), #excludeTable tr:nth-child(even) {
    background-color: inherit;
}

#cartTitle th {
    text-align: center;
}

.cartLeft {
    width: 70%;
}

.cartRight {
    text-align: right;
}

.btnProceed {
    border-radius: 8px;
    padding: 10px 100px;
    color: white;
    background-color: #413432;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.btnProceed:hover {
    background-color: white;
    border: 1px solid #413432;
    color: #413432;
    cursor: pointer;
}

.itemName{
    font-size: 1.5em;
}

.btnDelete {
    background-color: transparent; 
    border: none;
    margin:0 auto;
    padding: 0; 
    display: inline-block;
}

.imgDelete {
    width: 35px; /* Set image width as needed */
    height: auto; /* Maintain aspect ratio */
}

.btnDelete:hover .imgDelete {
    opacity: 0.8; /* Slightly fade image on hover */
}

.serviceTitle {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    box-shadow: 0 4px 8px #3a3a3a;
    background: #000000c2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 100%;
    height: 1000px;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/bg_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 30px;
}