#poster {
    background-image: url('../img/coffeebag.jpg');
    width: 100%;
    height: 1000px;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    position: absolute;
    width: 90%;
    height: fit-content;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#tableContainer {
    height: 100%;
    width: 100%;
    color: black;
}

.tableElement {
    text-align: center;
}

.tableElement div {
    background-color: #f0f0f0;
    height: 70%;
    text-align: center;
    border-radius: 25px;
}

.leftElement {
    text-align: right;
    width: 50%;
}

.fullElement {
    text-align: right;
}

.btnLocation {
    border-radius: 12px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 2px solid #342320;
}

.btnLocation:hover{
    background-color: #413432; 
    color: white;
    cursor: pointer;
}

.btnClose {
    border-radius: 12px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 2px solid #342320;
}

.btnClose:hover {
    background-color: #413432;
    color: white;
    cursor: pointer;
}

#btnCont {
    border-radius: 12px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 2px solid #342320;
}

#btnCont:hover{
    background-color: #413432; 
    color: white;
    cursor: pointer;
}

#popupDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 25px;
}

#popupDialog2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 20px;
    width: 90%;
    height: 75%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 25px;
}

.overlay {
    position: relative;
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}



.storeListTxt a {
    display: block;
    width: 100%;
    color: black;
}

.storeListTxt {
    border-radius: 12px;
    padding: 5px 5px;
    border: 2px solid #342320;
    background-color: #f0f0f0;
}

.storeListTxt:hover{
    background-color: #413432; 
    transition-duration: 0.4s;
}

.storeListTxt:hover a{
    color: white;
}

.textAdd {
    background-color: #cccccc;
    border: 2px solid transparent;
    height: 30px;
    padding-left: 20px;
    vertical-align: middle;
    border-radius: 8px;
    transition: 0.5s;
}

.textAdd:focus {
    border: 2px solid black;
    box-shadow: none;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}