#cartContainer {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#cartItemTable, #cartTotalTable {
    width: 100%;
    text-align: left;
}

#cartItemTable {
    border-bottom: black solid 5px;
}

#cartTitle td {
    text-align: center;
    border-bottom: grey solid 3px;
}

.cartLeft {
    width: 90%;
}

.cartRight {
    width: 10%;
}

.imgCart {
    width: 150px;
    height: 150px;
}
