#container {
    width: 100%;
    height:1000px;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/bg_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:4%;
    padding-bottom:30px;
}

#tableContainer {
    height: 60%;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    color: black;
}

.tableElement {
    text-align: center;
}

.tableElement div {
    background-color: #ffffff;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    box-sizing:border-box;
    border:1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftElement {
    width:25%;
    text-align:left;
}

.rightElement {
    width:75%;
    text-align:left;
}

.btnLocation, .btnCont {
    border-radius: 8px;
    padding: 10px 100px;
    color: white;
    background-color: #413432;
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.btnLocation:hover, .btnCont:hover {
    background-color: transparent;
    border: 1px solid #413432;
    color: #413432;
    cursor: pointer;
}

#storeTxt {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    left: 5%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #433533;
}

.btnCont-disabled {
    color: #ccc; /* Gray color for text */
    cursor: not-allowed; /* Show a 'not-allowed' cursor */
    pointer-events: none; /* Prevent click events */
    border-radius: 8px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}


#popupDialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 90%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

#popupDialog2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    padding: 20px;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.overlay {
    position: relative;
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.textAdd {
    background-color: #ccc;
    border: 2px solid transparent;
    height: 30px;
    padding-left: 20px;
    vertical-align: middle;
    border-radius: 8px;
    transition: 0.5s;
}

.textAdd:focus {
    border: 2px solid black;
    box-shadow: none;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}

.storeList a {
    display: block;
    width: 100%;
    color: black;
}

.storeList {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.8s;
    background-color: #f0f0f0;
    color: #433533;
}

.storeList:hover{
    background-color: #413432;
}

.storeList:hover a{
    color: white;
}

.storeList:hover .storeName{
    border: solid 2px white;
}

.storeList .storeName{
    border: solid 2px black;
    border-radius:8px;
}

.serviceTitle {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    box-shadow: 0 4px 8px #3a3a3a;
    background:#000000c2;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
