#cartPoster{
    position: relative;
}

#cartPosterImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#cartPosterText {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: white;
}

#cartContainer {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#cartItemTable, #cartTotalTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

#cartItemTable th, .tableItem, .amtTable{
    padding: 10px; /* Padding inside table cells */
    border: 1px solid #ddd; /* Border around cells */
}

.amtTable td{
    padding: 10px;
}

#cartItemTable tr:nth-child(even){
    background-color: #f9f9f9; /* Light gray background for even rows */
}

#cartItemTable tr:nth-child(odd), #cartTotalTable tr td{
    background-color: #fff; /* White background for odd rows */
}

#cartItemTable tr:hover, #cartTotalTable tr:hover{
    background-color: #e2e2e2; /* Slightly darker gray for hover effect */
}

#excludeTable tr:nth-child(odd), #excludeTable tr:nth-child(even) {
    background-color: inherit;
}

#cartTitle th {
    text-align: center;
}

.cartLeft {
    width: 70%;
}

.cartRight {
    text-align: right;
}

.btnProceed {
    border-radius: 8px;
    padding: 10px 100px;
    transition-duration: 0.4s;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #433533;
}

.btnProceed:hover {
    background-color: #413432;
    color: white;
    cursor: pointer;
}

.itemName{
    font-size: 1.5em;
}

.btnDelete {
    background-color: transparent; 
    border: none;
    margin:0 auto;
    padding: 0; 
    display: inline-block; 
}

.imgDelete {
    width: 35px; /* Set image width as needed */
    height: auto; /* Maintain aspect ratio */
}

.btnDelete:hover .imgDelete {
    opacity: 0.8; /* Slightly fade image on hover */
}