.label {
    padding-bottom: 5px;
    font-weight:500;
    letter-spacing: -0.5px;
}

.card-title {
    font-size:25px;
}

.error {
    color:red;
    background-image:url(../img/error.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:25px;
}

