.label {
    padding-bottom: 5px;
    font-weight:500;
    letter-spacing: -0.5px;
}

.card-title {
    font-size:25px;
}

.error {
    color:red;
    background-image:url(../img/error.png);
    background-repeat:no-repeat;
    background-position:left center;
    padding-left:25px;
}

/* Header Style for Sorted Columns (Ascending) */
.gridview-header {
    background-color: #4CAF50;
    color: black;
    font-weight: bold;
    text-align: center;
}

.gridview-header a {
    color: black; /* Maintain color for sorting links */
    text-decoration: none;
}

