

body, br {
    /* font-family: "Staffee-Regular"; */
    user-select: none;
}

.trMarginBottom20 {
    padding-bottom: 20px;
}

.specialMargin25 {
    margin-left: 25px;
}
.specialPadding25 {
    padding-left: 25px;
}

.sign_container {
    background-color: #ffffff;
    /* font-family: "Staffee-Regular"; */
    border-width: 5px;
    border-style: solid;
    border-color: #DADDE2;
    border-radius: 15px;
    box-shadow: rgba(218, 221, 226) 0px 5px 15px;
    width: 380px;
    margin: 0 auto;
    position: relative;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    /* z-index: 1000; */
    /* Ensure menu item is above overlay */
    /* padding: 20px; */
    /* overflow: hidden; */
}

    /* #SignUpHolder { */
    /* padding-top: 500px; */
    /* } */

.sign_container > table {
    margin: 0 auto;
}

#signIn_td,
#signUp_td,
#forgotPassword_td,
#passwordReset_td {
    /* font-family: Staffee-Bold; */
    font-weight: bold;
    text-align: left;
    margin-top: 0px;
    width: 92px;
    height: 37px;
}

.box_input {
    /* background-color: #9a3cf1; */
    /* color: #ffffff; */
    border-radius: 5px;
    border-width: 0;
    width: 200px;
    height: 30px;
    margin-right: 5px;
}

.usernameIcon,
.mailIcon,
.passwordIcon,
.cakeIcon,
.genderIcon,
.locationIcon {
    width: 18px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

.username,
.username2,
.emailAdd,
.password,
.password2,
.passReenter,
.usernameEmail,
.location_ddl,

.adminUsername,
.adminPassword,
.adminPassReenter,
.adminUsername2,
.adminPassword2,
.adminUsernameEmail {
    /* Placeholder text */
    background-color: #C89857;
    color: #ffffff;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 0;
    width: 200px;
    height: 30px;
    margin-right: 5px;
}
.otp {
    /* Placeholder text */
    background-color: #C89857;
    color: #ffffff;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 0;
    width: 228px;
    height: 30px;
    margin-right: 5px;
}

.username::placeholder,
.username2::placeholder,
.emailAdd::placeholder,
.password::placeholder,
.password2::placeholder,
.passReenter::placeholder,
.usernameEmail::placeholder,

.adminUsername::placeholder,
.adminPassword::placeholder,
.adminPassReenter::placeholder,
.adminUsername2::placeholder,
.adminPassword2::placeholder,
.adminUsernameEmail::placeholder,

.otp::placeholder {
    color: #ffffff;
}

.input_div {
    background-color: #C89857;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    /* text-align: center; */
}

#forgotPassword_td,
#agreement_td,
#codeVerification_td,
#passwordReset_td {
    /* font-family: Staffee-Bold; */
    font-size: smaller;
    font-weight: bold;
    text-align: left;
    user-select: text;
    padding-top: 4px;
}

#codeVerification_td {
    text-align: justify;
}

td > a {
    color: #551a8b;
}

.rqdValidator {
    font-size: x-small;
    text-align: right;
}

#birthdayDate_cal {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #A0704E;
    font-weight: bold;
    border-radius: 10px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 4px;
    padding-left: 18px;
    padding-right: 12px;    
}

.gender_rbl {
    color: #ffffff;
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: small;
    font-weight: bold;
    line-height: 30px;
}
.gender_rbl input[type="radio"] {
    vertical-align: middle;
}
.gender_rbl label {
    line-height: 30px;
}
/* RadioButtonList container */
.gender_rbl {
    display: flex;
    align-items: center;
    gap: 20px; 
    /* margin-top: 10px;  */
}
/* Radio button item */
.gender_rbl input[type="radio"] {
    display: none; /* Hide the default radio button */
}
/* Radio button */
.gender_rbl input[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-weight: bold;
    user-select: none; 
}
/* Radio button circle */
.gender_rbl input[type="radio"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    transform: translateY(-50%);
    width: 14px; 
    height: 14px; 
    border: 2px solid #A0704E; 
    border-radius: 50%; 
    background-color: #ffffff;
    margin-top: 6px;
}
/* Radio button when checked */
.gender_rbl input[type="radio"]:checked + label::before {
    border-color: #ffffff; 
    background-color: #A0704E; 
}

/* Dot inside radio button when checked */
.gender_rbl input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 10%;
    transform: translateY(-50%);
    width: 6px; /* Size of the dot */
    height: 6px; /* Size of the dot */
    border-radius: 50%; /* Make it a circle */
    background-color: #ffffff; /* Dot color */
    margin-top: 6px;

}

.location_ddl {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    border: 2px solid #A0704E;
    border-radius: 10px;
    width: 185px;
    height: 25px;
    transition: border-color 0.3s ease;
    line-height: 10px;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 4px;
    padding-left: 18px;
}

#signInBtn_td,
#signUpBtn_td,
#backBtn_td,
#resetPassword_td,
#verifyBtn_td {
    padding-bottom: 15px;
}

.signIn_btn,
.signUp_btn,
.next_btn,
.resetPassword_btn {
    background-color: #775466;
    color: #ffffff;
    /* font-family: Staffee-Bold; */
    font-size: medium;
    font-weight: bold;
    border-radius: 30px;
    border-width: 0;
    width: 248px;
    height: 40px;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 6px;
    cursor: pointer;
}

.signIn_btn:hover,
.signUp_btn:hover,
.next_btn:hover,
.resetPassword_btn:hover {
    background-color: #DADDE2;
    color: #775466;
    /* font-family: Staffee-Bold; */
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    border-width: 0;
    margin-top: 15px;
    padding-bottom: 6px;
    cursor: pointer;
    transition-delay: 0.25s;
}

.back_btn {
    background-color: #ffffff;
    /* color: #775466; */
    /* font-family: Staffee-Bold; */
    font-size: medium;
    font-weight: bold;
    border-radius: 30px;
    border-width: 0;
    width: 293px;
    height: 40px;
    margin-top: 15px;
    padding-bottom: 6px;
    cursor: pointer;
}

#joinUsNow,
#alreadySignedUp,
#alreadyRegistered {
    /* font-family: Staffee-Bold; */
    font-weight: bold;;
    padding-top: 2px;
    user-select: text;
}
/* default <a> CSS code */
#alreadyRegistered {
    color: inherit; 
    text-decoration: none; 
    cursor: pointer; 
}

.aReset {
    color: #551a8b;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
}

asp .validator {
    color: red;
    font-size: smaller;
}

#username_rqdValidator,
#emailAdd_rqdValidator,
#password_rqdValidator,
#passReenter_rqdValidator,
#gender_rqdValidator,
#location_rqdValidator, .ss {
    text-align: left;
}

.textAlignLeft {
    text-align: left;
}

h2 {
    font-weight: bold;
}
