@ -1,57 +1,84 @@ ﻿ body {
}
/* body {
} */

h1, h3 {
    user-select: none;
}

.profileContainer {
    background-color: #ffffff;
    /* font-family: "Staffee-Regular"; */
    border-width: 5px;
    border-style: solid;
    border-color: #DADDE2;
    border-radius: 15px;
    box-shadow: rgba(218, 221, 226) 0px 5px 15px;
    width: 480px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.textAlignCenter {
    user-select: none;
    text-align: center;
    /* align-items: center; */
}

table, td {
    /* border: 1px solid #000000; */
    border-collapse: collapse;
}

.tdFirstCol {
    font-weight: bold;
    border-color: #F9F871;
    border-radius: 30px 0 0 0;
    text-align: right;
    height: 50px;
    width: 168px;
    padding-right: 15px;
}

.tdSecondCol {
    font-weight: bold;
    border-radius: 0 0 80px 0;
    width: 268px;
    padding-left: 20px;
}

.oddRow {
    background-color: #7E5B4E;
    color: #F9F871;
    th

{
    text-align: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.evenRow {
    background-color: #F9F871;
    color: #7E5B4E;
    td

{
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}

.oddRow {
    font-weight: bold;
    text-align: left;
}

.evenRow {
    /* font-weight: lighter; */
    text-align: left;
}

.underlineRow {
    border-bottom: 1px solid #000000;
}
