
h1, h3 {
    user-select: none;
}

.profileContainer {
    background-color: #ffffff;
    /* font-family: "Staffee-Regular"; */
    border-width: 5px;
    border-style: solid;
    border-color: #DADDE2;
    border-radius: 15px;
    box-shadow: rgba(218, 221, 226) 0px 5px 15px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.textAlignCenter {
    user-select: none;
    text-align: center;
    /* align-items: center; */
}

table, td {
    /* border: 1px solid #000000; */
    border-collapse: collapse;
}


th {
    text-align: left;
    /* padding-left: 20px;
    margin-left: 20px; */
    border-bottom: 2px solid #000;    
}
/* td {
    padding-left: 20px;
    padding-right: 20px;
} */

.oddRow {
    font-weight: bold;
    text-align: left;
}
.evenRow {
    /* font-weight: lighter; */
    text-align: left;
}

/* .underlineRow {
    border-bottom: 1px solid #000000;
} */

.contentCol {
    width: 250px;
}
.blankCol {
    width: 40px;
}

.trMarginBottom20 {
    padding-bottom: 20px;
}

.SizeEditTextbox {
    width: 188px;
    height: 25px;
}