body {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

/*header style*/
#header {
    background: #433533f0;
    position: fixed;
    width:100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.headerContainer .logo {
    font-weight:500;
    text-decoration: none;
    color:#fff;
    letter-spacing:-1px;
}

.headerContainer .logo:hover {
    transition: all .2s;
    text-shadow: #ffd05e 0px 2px 2px;
    transform: scale(0.5,0.5) translate3d(2px);
}

/*menu style*/
#menuContainer {
    display: flex;
    align-items: center;
    letter-spacing: 1.3px;
}

.menuItem {
    margin-right:20px;
}

.menuItem::after {
    content: "";
    width: 0;
    display: block;
    background-color: #fff;
    padding-top: 1px;
    height:2px;
}

.menuItem:hover::after {
    font-weight:bold;
    width: 100%;
    transition: all .5s;
}

.headerBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*login btn style*/
#loginBtn {
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

#loginBtn:hover {
    background-color:transparent;
    color: #fff;
    transition: 0.3s;
    border:1px solid white;
}

/*content style*/
#content {
    min-height: 1000px;
    background-color: #fff;
}

/*footer style*/
#footer {
    text-align: left;
    width:113%;
    background-color: #433533;
    box-shadow: 0px 0px 10px #000;
    position: relative;
    z-index: 1000;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 250px;
    width: 100%;
}

.footerContainer h4 {
    margin-bottom: 28px;
    position: relative;
    font-weight:500;
}

.footerContainer h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

#homeLink, #menuLink, #serviceLink {
    text-decoration: none;
    color: #fff;
}

.quickLink {
    font-weight: 300;
    display: block;
    transition: all 0.5s ease;
}

.quickLink:hover {
    padding-left: 8px;
    font-weight: 500;
}

.openHour {
    font-weight: 300;
}

#facebookBtn, #instaBtn, #twitterBtn {
    background-color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius:5px;
}

.footerBottom {
    padding: 5px;
    text-align: center;
}