h2 {
    font-weight:600;
    letter-spacing:-0.5px;
    color:#3a3a3a;
}

h3 {
    font-weight:400;
    letter-spacing:-0.5px;
    color:#808080;
    margin-top:-10px;
}

#totalContainer {
    display: flex;
}

.total {
    display:flex;
    align-items:center;
    width: 200%;
    border-radius: 10px;
    background: #fff;
    color: #42160b;
    margin-right:30px;
    box-shadow: 0px 0px 5px #808080;
    padding:20px;
}

.lblImg {
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    margin-right:15px;
}

#lblImg1 {
    background: #fa5a7d;
}

#lblImg2 {
    background: #ff947a;
}

#lblImg3 {
    background: #3cd856;
}

#lblImg4 {
    background: #bf83ff;
}

.record {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.record h4 {
    margin-top:0;
}

.lblText {
    margin-top:-15px;
}

#statisticsContainer {
    display:flex;
}