#productContainer {
    display: flex;
}

#categoryContainer {
    border-right: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 5px #000;
    min-height: 1000px;
}

.categoryItem {
    width: 200px;
    height: 100%;
    display: block;
    padding: 20px 0px 20px 15px;
    color: #766958;
    text-decoration: none;
    margin:15px;
    border-radius:10px;
}

.categoryItem:hover {
    background-color: #c4a374;
    color: #fff;
    transition: all 0.5s ease;
}

.categoryItem.selected {
    background-color: #c4a374;
    color: #fff;
}


#productItem {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 0px 50px;
    gap: 50px;
    background-color: #fff;
}

.item {
    width: 20%;
    height: 32%;
    background: #fff;
    color: #42160b;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 10px #000;
}

.product {
    width: 100%;
    height: auto;
}

.productName {
    font-size: 17px;
    text-align: center;
    padding:5px;
}









