body {
}

#option-title {
    padding-top: 10%;
}

.option-container {
    display: flex;
    padding: 50px;
    text-align: center;
}

.option-child {
    flex: 1;
    border: 2px solid red;
}

#option-title {
    text-align: center;
}

.img {
    width: 185px;
    height: 275px;
}
