#cartPoster img {
    width: 1600px;
    height: 250px;
    object-fit: cover;
    position: relative;
}

#cartPosterText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: white;
}

#orderOption{
    margin: auto;
    width: 75%;
}

#orderOptionTable{
    width: 100%;
    text-align: center;
}

#orderOptionTable td {
    overflow: hidden;
}

.orderOptionTD {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.orderOptionLB{
    display: block;
    margin: -10em;
    padding:10em;
}

.img {
    width: 318px;
    height: 418px;
}